// Roadtype Definition
item(FEAT_ROADTYPES, {{.id}}, {{.numeric_id}}) {
    property {
        label: "{{.road_type}}"; 
        name: {{.name_string}};

        toolbar_caption: string(STR_TOOLBAR_{{.road_type}});
        menu_text: string(STR_MENU_{{.road_type}});

        {{if .intro_year}}introduction_date: date({{.intro_year}},1,1);{{end}}
        {{if .speed_limit}}speed_limit: {{.speed_limit}} mph;{{end}}

        construction_cost: {{.construction_cost}};
        maintenance_cost: {{.maintenance_cost}};
        
        sort_order: {{.sort_order}};
        name: {{.name_string}};
    }

    graphics {
        underlay: {{.spriteset}}_underlay;
        roadstops: {{.spriteset}}_roadstop;
        bridge_surfaces: {{.spriteset}}_bridge_surfaces;
    }
}