// Mini Spriteset (underlay only)
// Underlay
spriteset({{.spriteset}}_underlay, "sheets_1x/{{.spriteset}}_8bpp.png") {
    tmpl_underlay(1)
}

alternative_sprites({{.spriteset}}_underlay, ZOOM_LEVEL_IN_2X, BIT_DEPTH_8BPP,  "sheets_2x/{{.spriteset}}_8bpp.png") {
    tmpl_underlay(2)
}
