// Spritesets
// Catenary (front, wires)
spriteset({{.spriteset}}_catenary_front, "sheets_1x/catenary_wire_{{.spriteset}}_8bpp.png") {
    tmpl_catenary(1)
}

alternative_sprites({{.spriteset}}_catenary_front, ZOOM_LEVEL_IN_2X, BIT_DEPTH_8BPP,  "sheets_2x/catenary_wire_{{.spriteset}}_8bpp.png") {
    tmpl_catenary(2)
}

// No back as the sprite sorting doesn't work.