// Spritesets
spriteset({{.spriteset}}_depot, "1x/{{.spriteset}}_8bpp.png") {
    tmpl_depot(1)
}

alternative_sprites({{.spriteset}}_depot, ZOOM_LEVEL_IN_2X, BIT_DEPTH_8BPP,  "2x/{{.spriteset}}_8bpp.png") {
    tmpl_depot(2)
}
