// Spritesets
// Catenary
spriteset({{.spriteset}}_catenary, "sheets_1x/catenary_{{.spriteset}}_8bpp.png") {
    tmpl_catenary(1)
}

alternative_sprites({{.spriteset}}_catenary, ZOOM_LEVEL_IN_2X, BIT_DEPTH_8BPP,  "sheets_2x/catenary_{{.spriteset}}_8bpp.png") {
    tmpl_catenary(2)
}
